body{
    font-family: 'Electrolize', sans-serif;
    font-weight: 100; 
    background-size:cover; 
    color: rgb(22, 255, 212); 
    padding: 150px 120px; 
    text-align: center;
    border-color:brown;
}

